<!DOCTYPE html>

<html lang="en">
   <head>
      <meta name="viewport" content="initial-scale=1, width=device-width">
      <title>Title</title>
   </head>
   <body>
      <h1>Greeting you</h1>
      <form>
         <input name="name" placeholder="Name" type="text">
         <select name="greeting">
            <option disabled selected value="">Chose </option>
            <option value="Hello"  >Hello  </option>
            <option value="GoodBye">GoodBye</option>
            <option value="ByeBye" >ByeBye </option>
         </select>
         <input type="submit" value="Submit">
      </form>
      <h1>{{ greeting }} {{ name }}</h1>
   </body>
</html>

