{% extends "layout.html"%}

{% block body %}
   <h1>Register App</h1>
   <form action="/register" method="post">
      <input name="name" placeholder="Name" type="text">
      <select name="activity">
         <option disabled selected value="">Chose </option>
         <option value="wushu"    >Wushu   </option>
         <option value="bjj"      >BJJ     </option>
         <option value="strenght" >Strenght</option>
      </select>
      <input type="submit" value="Submit">
   </form>
{% endblock %}
